<section class="home section container-fluid full-height">
  <div class="scrollable">
    <div class="block-content scrollable-content">
      <div class="page-content text-center">
        <h4>Welcome to</h4>
        <div class="main-logo">
          <img src="images/tmj-logo.png" alt="Turrentine Jackson Morrow" width="60%">
        </div>
        <h5>Powered by</h5>
        <div class="yd-logo">
          <img src="images/yd-logo.png" alt="YOURDASH" width="40%">
        </div>
      </div>
      <div class="block-action">
        <a class="btn btn-ntfy btn-block" href="#/landing">Continue</a>
      </div>
    </div>
  </div>
</section>